<div class="row my-3" *ngIf="(screenWidth$ | async)! >= 1024">
    <div class="col-2">
        <h3>{{postDate}}</h3>
    </div>
    <div class="col-2">
        <h3>{{post.author.username}}</h3>
    </div>
    <div class="col-2">
        <h3>{{post.topic.name}}</h3>
    </div>
</div>
<div class="row" *ngIf="(screenWidth$ | async)! < 1024">
    <div class="col-6">
        <h3>{{postDate}}</h3>
    </div>
    <div class="col-6">
        <h3>{{post.author.username}}</h3>
    </div>
    <div class="col-6 my-2">
        <h3>{{post.topic.name}}</h3>
    </div>
</div>
<p>Content: {{post.content}}</p>
<hr>
<app-post-comments [post]="post!"></app-post-comments>