<h3>Commentaires</h3>
<div *ngFor="let comment of comments">

    <div *ngIf="(screenWidth$ | async)! >= 1024" class="row mx-2">
        <div class="col-2 mt-4">{{comment.authorName}}</div>
        <div class="col-8">
            <mat-card class="comment-card">{{comment.content}}</mat-card>
        </div>
    </div>

    <div *ngIf="(screenWidth$ | async)! < 1024" class="row me-4">
        <mat-card class="comment-card">
            <p>{{comment.content}}</p>
            <div class="float-end">
                <p>{{comment.authorName}}</p>
            </div>
        </mat-card>
    </div>
</div>

<div *ngIf="onError">Désolé, une erreur est survenue</div>

<div *ngIf="(screenWidth$ | async)! >= 1024" class="row mb-5">
    <form [formGroup]="commentForm" (submit)="onSubmit()">
        <div class="row ms-2">
            <div class="col-10">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Ecrivez ici votre commentaire</mat-label>
                    <textarea matInput type="text" id="content" formControlName="content"></textarea>
                    <mat-error *ngIf="commentControl!.invalid && (commentControl!.dirty || commentControl!.touched)"
                        [innerText]="'Actuellement ' + commentControl.value!.length + ' caractères \n minimum autorisé : 10 \n maximum autorisé: 255'">
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-2 pt-3">
                <button mat-icon-button color="primary" type="submit">
                    <mat-icon class="send">send</mat-icon>
                </button>
            </div>
        </div>
    </form>
</div>

<div *ngIf="(screenWidth$ | async)! < 1024" class="row">
    <form [formGroup]="commentForm" (submit)="onSubmit()">
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Ecrivez ici votre commentaire</mat-label>
            <textarea matInput type="text" id="content" formControlName="content"></textarea>
            <mat-error *ngIf="commentControl!.invalid && (commentControl!.dirty || commentControl!.touched)"
                [innerText]="'Actuellement ' + commentControl.value!.length + ' caractères \n minimum autorisé : 10 \n maximum autorisé: 255'">
            </mat-error>
            <button mat-icon-button matSuffix color="primary" type="submit" [disabled]="commentForm.invalid">
                <mat-icon class="send">send</mat-icon>
            </button>
        </mat-form-field>
    </form>
</div>