<div *ngIf="(screenWidth$ | async)! >= 1024">
    <app-header></app-header>
    <ng-container *ngTemplateOutlet="mainContent"></ng-container>
</div>

<div *ngIf="(screenWidth$ | async)! < 1024">
    <!-- Sidenav -->
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sidenav mode="over" class="sidenav" [fixedInViewport]="true" position="end">
            <mat-nav-list class="float-end mt-5">
                <div mat-list-item>
                    <button mat-button (click)="navToPost(); sidenav.close();"
                        [color]="onPosts ? 'primary' :''">Articles</button>
                </div>
                <div mat-list-item>
                    <button mat-button (click)="navToTopic(); sidenav.close();"
                        [color]="onTopics ? 'primary' : ''">Thèmes</button>
                </div>
                <div class="profile">
                    <button mat-fab color="" class="mb-2 mx-1">
                        <mat-icon>person_filled</mat-icon>
                    </button>
                </div>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content class="sidenav-content">
            <main>
                <div class="row mt-2 mx-1">
                    <div class="col">
                        <img src="/assets/logo_p6.png" alt="logo" class="logo" />
                    </div>
                    <div class="col">
                        <div class="float-end">
                            <button mat-icon-button (click)="sidenav.toggle()">
                                <mat-icon>menu</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <hr>
                <ng-container *ngTemplateOutlet="mainContent"></ng-container>
            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<ng-template #mainContent>
    <app-post *ngIf="onPosts"></app-post>
    <app-topic *ngIf="onTopics"></app-topic>
</ng-template>