.topic-card {
    background-color: #d3d3d380;
    margin: 16px;
    height: 340px;
    width: 45vw;
}



@media (max-width: 1023px) {
    .topic-card {
        /* Styles for screens smaller than 1024px */
        width: 80vw;
    }

    button.follow {
        right: 35%;
        left: 35%;
    }
}