<mat-card class="topic-card">
    <mat-card-header>
        <h3>{{topic.name}}</h3>
    </mat-card-header>
    <mat-card-content>
        <p>{{topic.description}}</p>
    </mat-card-content>
    <mat-card-footer>
        <div class="text-center">
            <button *ngIf="!topic.followed" mat-raised-button color="primary" (click)="followTopic()">S'abonner</button>
            <button *ngIf="topic.followed" mat-raised-button color="warn" (click)="unfollowTopic()">Se
                Désabonner</button>
            <p *ngIf="onError" style="color:red">Désolé, une erreur est survenue</p>
        </div>
    </mat-card-footer>
</mat-card>