<div *ngIf="(screenWidth$ | async)! >= 1024">
    <app-header></app-header>
    <ng-container *ngTemplateOutlet="mainContent"></ng-container>
</div>

<div *ngIf="(screenWidth$ | async)! < 1024">
    <!-- Sidenav -->
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #sidenav mode="over" class="sidenav" [fixedInViewport]="true" position="end">
            <mat-nav-list class="float-end mt-5">
                <div mat-list-item>
                    <button mat-button (click)="navToOverview('post'); sidenav.close();">Articles</button>
                </div>
                <div mat-list-item>
                    <button mat-button (click)="navToOverview('topic'); sidenav.close();">Thèmes</button>
                </div>
                <div class="profile">
                    <button mat-fab color="" class="mb-2 mx-1">
                        <mat-icon>person_filled</mat-icon>
                    </button>
                </div>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content class="sidenav-content">
            <main>
                <div class="row mt-2 mx-1">
                    <div class="col">
                        <img src="/assets/logo_p6.png" alt="logo" class="logo" />
                    </div>
                    <div class="col">
                        <div class="float-end">
                            <button mat-icon-button (click)="sidenav.toggle()">
                                <mat-icon>menu</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <hr>
                <ng-container *ngTemplateOutlet="mainContent"></ng-container>
            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<ng-template #mainContent>
    <div *ngIf="post !== undefined">
        <div class="row" *ngIf="(screenWidth$ | async)! >= 1024">
            <div class="col-2 px-1">
                <button mat-button (click)="goBack()">
                    <mat-icon style="font-size: 2em;">arrow_back</mat-icon>
                </button>
            </div>
            <div class="col-9 pt-1">
                <h1>{{post.name}}</h1>
                <app-post-content [post]="post"></app-post-content>
                <app-post-comments [comments]="comments!" [post]="post"></app-post-comments>
            </div>
        </div>
        <div class="row" *ngIf="(screenWidth$ | async)! < 1024">
            <div class="col-2 px-1">
                <button mat-button (click)="goBack()">
                    <mat-icon style="font-size: 2em;">arrow_back</mat-icon>
                </button>
            </div>
            <div class="col-10 pt-1">
                <h1>{{post.name}}</h1>
            </div>
            <div class="row m-1">
                <div class="col-12">
                    <app-post-content [post]="post"></app-post-content>
                    <app-post-comments [comments]="comments!" [post]="post"></app-post-comments>
                </div>
            </div>
        </div>
    </div>
</ng-template>